@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue-next/src/styles/styles.scss';
@import 'shepherd.js/dist/css/shepherd.css';

.btn:has(svg),
.badge:has(svg) {
  display: flex;
  justify-content: center;
  align-items: center;
}
